.main {
  background-color: rgba(22, 22, 22, 0.829);
  text-align: center;
  width: 40vw;
}
.picture {
  width: 20vw;
}

.text {
  text-align: left;
  color: #e3b587;
  width: 28vw;
}

.title > h1 {
  margin: 0;
  padding: 0;
  color: #e3b587;
  justify-content: center;
  text-align: center;
}

.subtitle > p {
  margin-top: 0;
  margin-bottom: 5vh;
  color: #e0c3a6;
}

.button {
  color: red;
}

@media only screen and (max-width: 620px) {
  .main {
    width: auto;
  }
  .picture {
    width: auto;
  }
  .text {
    width: auto;
  }
}
